body,
h1,
p,
section,
div,
header,
footer,
h2 {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  .Loader{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 4000;
    background-color:rgb(48, 48, 48); 
    display: flex;
    color:white;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    transition: 500ms;
  }
}


.is-loading{
  main{
    display: none;
  }
  .Loader{
    display: flex;
  }
}

.is-loaded{
  .Loader{
    transition: 500ms;
    opacity: 0;
  }
}


.is-ready{
  .Loader{
    display: none;
  }
  h1,h2{
    opacity:1;
    transition: 500ms;
  }
}

h1 {
  font-size: 16em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
}

h2 {
  font-size: 2em;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  opacity: 0;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(48, 48, 48);
  .content-b{
    height: 100vh;
    width: 100vw;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .year{
      color:white;
      font-size: 8em;
      font-weight: bold;
      span{
        -webkit-text-stroke: white 3px;
        color:transparent;
      }
    }
    div{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .content-c{
    position: relative;
    .tag-container{
      position: absolute;
      width: 100vw;
      height:100vh;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p{
        font-size: 16em;
        text-transform: uppercase;
        color: white;
      }
      .tagline-a{
        -webkit-text-stroke: 5px white;
        color:transparent;
      }
    }
  }
}
main {
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
  background-color: rgb(48, 48, 48);
}

header{
  width: 100vw;
  height: 100vh;
  .header-link{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    a{
      color:white;
      text-decoration: none;
      font-family: sans-serif;
      font-weight: bold;
    }
  }
  .header-content{
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

.backed-wrapper{
  width: 40vw;
  height: 70vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
  span{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .backed{
    width: 125%
  }
}

.backed-wrapper.yt-wrapper{
  width: 50vw;
  height: 85vh;
  .yt-video{
    height: 125%;
    width: auto;
  }
}

.center-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media screen and (max-width: 1100px){
  body{
    main{
      h1{
        font-size: 10em;
      }
      h2{
        font-size: 1.5em;
      }
      section .content-c .tag-container {
        .tagline-a{
          -webkit-text-stroke: 1.5px white;
        }
        p {
        
        font-size: 10em;
      }
    }
    }
  }
}

@media screen and (max-width: 710px){
  body{
    main{
      h1{
        font-size: 6em;
      }
      h2{
        font-size: 1.2em;
      }
      section .content-c .tag-container{
          p {
          font-size: 6em;
        }
        .tagline-a{
          -webkit-text-stroke: 1px white;
        }
      }
    }
  }
}